.dataGrid__container {
    display: flex;
    justify-content: space-between;
}

.dataGrid__name {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.2rem;
}

.name__card {
    display: flex;
    flex: 0.7;
    flex-direction: column;
    box-shadow: 0 3px 6px 2px rgba(0,0,0,0.38);
    margin-right: 2%;
    margin-left: 15px;
    padding: 15px;
    height: 100%;
    line-height: 2.5rem
}

.card__category {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    padding-left: 20px;
    cursor: pointer;
}

.dataGrid__card {
    display: flex;
    flex: 5;
    flex-direction: column;
    box-shadow: 0 3px 6px 2px rgba(0,0,0,0.38);
    padding: 15px 10px 10px 10px
}

.table__header {
    font-size: 1.7rem;
    font-weight: bold;
    border: 1px solid #b8b8b8;
    text-align: center;
    margin-bottom: 3%;
}

.table__button {
    background:  #3672f52d;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: none;
    border-radius: 5px;
    font-size: 1rem;
}

.ag__modal {
    background: white;
    position: absolute;
    margin: auto;
    top: 30%;
    right: 23%;
    border: 1px solid;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ag__modal__title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.ag__modal__body {
    margin-top: 4rem;
}


.ag__modal__item {
    margin: 10px;
}

.ag__modal__buttons {
    display: flex;
    justify-content: space-around;
    width: 100%
}

.ag__modal__button {
    border-style: none;
    margin-top: 4rem;
    width: 100px;
}