.container {
  margin: 10px;
}

.flex {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #5e8cee;
  padding-top: 10px;
  padding-bottom: 15px;
  font-weight: bold;
}

.header:first-child {
  font-size: 1.7rem;
}

.header__button {
  background: #5e8cee38;
  border-style: none;
  border-radius: 3px;
}

.nav {
  width: 100%;
}


.body {
  display: flex;
  padding-left: 2%;
  padding-right: 5%;
}

.cards {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin-left: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px 2px rgba(0,0,0,0.38);
  padding: 10px;
  margin-bottom: 2%;
}

.card__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #5e8cee;
  padding-bottom: 10px;
  font-weight: bold;
}

.card__span__left {
  display: flex;
  padding-left: 20px;
  flex: 2;
}

.card__name {
  color: #2da5f1
}

.card__span__right {
  display: flex;
  flex: 1;
}

.card__bottom {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
  padding-top: 5px;
}

.button {
  margin-left: 1%;
  height: 40px;
  background: #5e8cee38;
  border-style: none;
  border-radius: 3px;
}


.modal {
}

.MuiDataGrid-row.Mui-odd {
  background-color: rgb(224, 224, 224);
}
